.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 85%;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    margin-left: 15%;
    background-color: #fff;
    transition: all .2s;
    z-index: 9999;
}

.headerReduce{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 95%;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    margin-left: 5%;
    background-color: #fff;
    transition: all .3s;
}

.headerReduce .menu{
    display: flex;
    align-items: center;
    padding: 10px; 
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px; 
    cursor: pointer;
}

.header .menu{
    display: flex;
    align-items: center;
    padding: 10px; 
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px; 
    cursor: pointer;
}
.headerReduce .menu:hover{
    background-color: rgb(52, 101, 117);
    transition: all .2s;
}
.header .menu:hover{
    background-color: rgb(52, 101, 117);
    transition: all .2s;
}
.headerReduce .menu:hover > svg{
    fill: #fff;
}
.header .menu:hover > svg{
    fill: #fff;
}
.headerReduce .menu svg{
    width: 22px;
    height: 22px;
    fill: rgb(52, 101, 117);
}
.header .menu svg{
    width: 22px;
    height: 22px;
    fill: rgb(52, 101, 117);
}


.header .noti{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.header .noti .campana{
    margin-right: 10px; 
    position: relative;
    padding: 10px;
}
.header .noti .campana svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.header .noti .campana svg:hover{
    fill: rgb(52, 101, 117);
    transition: .2s;
}
.header .noti .campana .notificaciones{
    display: none;
    position: absolute;
    top: 50px;
    left: -100px;
    max-height: 500px;
    width: 240px;
    background-color: #f8f8f8;
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: all .2s;
}
.header .noti .campana .notificaciones.show{
    display: block;
    transition: all .3s;
}
.header .noti .campana .notificaciones .label{
    display: flex;
    flex-flow: row;
    max-height: 50px;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
}
.header .noti .campana .notificaciones .label:hover{
    background-color: rgba(0, 0, 0, 0.1);
    transition: .2s;
}
.header .noti .campana .notificaciones .label .image-label{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5px;
    border-radius: 10px;
}

.header .noti .campana .notificaciones .label .image-label img{
    width: 80%;
    height: 100%;
    
    object-fit: contain;
    border-radius: 50%;
}
.header .noti .campana .notificaciones .label .comments{
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: center;
    width: 70%;
}


.header .noti .user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.header .noti .user h5{
    margin: 0 10px;
}
.header .noti .user:hover{
    background-color: rgba(0, 0, 0, 0.1);
    transition: .3s;
}
.header .noti .user .photo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.header .noti .user .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    
}




.headerReduce .noti{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}
.headerReduce .noti .campana{
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 50%;
    position: relative;
    margin-right: 20px; 
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.headerReduce .noti .campana svg{
    font-size: 15px;
}
.headerReduce .noti .campana:hover{
    background-color: rgba(0, 0, 0, 0.1);
    transition: .3s;
}
.headerReduce .noti .user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.headerReduce .noti .user h5{
    margin: 0 10px;
}
.headerReduce .noti .user:hover{
    background-color: rgba(0, 0, 0, 0.1);
    transition: .3s;
}
.headerReduce .noti .user .photo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.headerReduce .noti .user .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.headerReduce .noti .campana .notificaciones{
    position: absolute;
    top: 50px;
    left: -100px;
    max-height: 500px;
    width: 240px;
    display: none;
    background-color: #f8f8f8;
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.headerReduce .noti .campana .notificaciones .label{
    display: flex;
    flex-flow: row;
    max-height: 50px;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.headerReduce .noti .campana .notificaciones .label:hover{
    background-color: rgba(0, 0, 0, 0.1);
    transition: .2s;
}
.headerReduce .noti .campana .notificaciones .label .image-label{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5px;
    border-radius: 10px;
}

.headerReduce .noti .campana .notificaciones .label .image-label img{
    width: 80%;
    height: 100%;
    
    object-fit: contain;
    border-radius: 50%;
}
.headerReduce .noti .campana .notificaciones .label .comments{
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: center;
    width: 70%;
}

.name{
    display: none;
}


@media (max-width: 1080px) {
    .header{
        padding: 10px;
    }
    .name{
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        font-size: 14px;
    }

    .headerReduce .menu{
        display: none;
    }
    .header .menu{
        display: none;
    }
    .header .noti .campana{
        margin-right: 5px;
    }
    .header .search input{
        width: 180px;
    }
    .header .noti .user{
        display: flex;
        margin: 0;
        border-radius: 10px;
        border: none;
    }
    .header .noti .user .photo{
        width: 40px;
        height: 40px;
        margin: 0;
        padding: 0;
        border-radius: 10px;
        display: flex;
    }
    .header .noti .user .photo img{
        width: 100%;
        object-fit: contain;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .header .noti .user h5{
        display: none;
    }
    .header .noti .user svg{
        display: none;
    }

    .header .noti .campana .notificaciones{
        left: -150px;
    }
}